extends layout

block content
    
    div.custom_file_upload
     //input.file(type="text")
     div.file_upload
      input#file.file_upload(type="file")
     

    script.
        $(function() {
        
        $('#file').change(function(e) {
       
           // var io = require('socket.io-client');
            //var ss = require('socket.io-stream');
            
            var socket = io.connect(null);
            var stream = ss.createStream();
            var file=e.target.result
            var filename = e.target.files[0];
            //var filename = 'data';
            
            
                ss(socket).emit('profile-image', stream, {name: filename.name});
                ss.createBlobReadStream(filename).pipe(stream);
            
            
          });
        });
           
         
